cmdline.c
cmdline.h
version.c
docs/html/

/janus
/janus-cfgconv
/janus-pp-rec
/mjr2pcap
/pcap2mjr
/plugins/*.so
/transports/*.so
/events/*.so
/loggers/*.so

Makefile
Makefile.in
/build
/configure
/autom4te.cache
/aclocal.m4
/m4
/missing
/libtool
/depcomp
/compile
/install-sh
/ltmain.sh

/config.log
/config.guess
/config.status
/config.sub

/*.o
/plugins/*.o
/plugins/*.lo
/plugins/*.la
/plugins/.libs
/plugins/duktape-deps/*.lo
/plugins/duktape-deps/.libs
/transports/*.o
/transports/*.lo
/transports/*.la
/transports/.libs
/events/*.o
/events/*.lo
/events/*.la
/events/.libs
/loggers/*.o
/loggers/*.lo
/loggers/*.la
/loggers/.libs
/postprocessing/*.o
/postprocessing/pp-cmdline.c
/postprocessing/pp-cmdline.h
/postprocessing/p2m-cmdline.c
/postprocessing/p2m-cmdline.h
/fuzzers/*.a
/fuzzers/*.o
/fuzzers/out

.deps
.dirstamp

# OS X
.DS_Store

# CLion
.idea

.vscode
